<script setup>
import "@unocss/reset/tailwind.css";

const siteTitle = "Frankenstein";
const description = "At play with an assortment of development tools and patterns.";

useHead({
  meta: [{ name: "viewport", content: "width=device-width, initial-scale=1" }],
  link: [{ rel: "icon", href: "/favicon.ico" }],
  htmlAttrs: { lang: "en" },
  titleTemplate: titleChunk => titleChunk ? `${titleChunk} | ${siteTitle}` : siteTitle,
});

useSeoMeta({ description, ogDescription: description });
</script>

<template>
  <div class="dark font-sans">
    <NuxtPage />
  </div>
</template>
