<script lang="ts" setup>
const { snapshot, send } = useToggle();

useHead({ title: "Toggle" });
</script>

<template>
  <div class="h-screen flex flex-col items-center justify-center gap-4 bg-dark">
    <div>
      <h1 class="text-6xl font-bold text-gray-400">
        state: <span class="text-5xl text-purple-400">{{ snapshot.value }}</span>
      </h1>
    </div>
    <div>
      <h1 class="text-6xl font-bold text-gray-400">
        count: <span class="text-5xl text-purple-400">{{ snapshot.context.count }}/{{ snapshot.context.maximum }}</span>
      </h1>
    </div>
    <div>
      <button
        :class="snapshot.value === 'active'
          ? 'text-white bg-gray-400 dark:bg-gray-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 mb-2'
          : 'focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900'"
        :disabled="snapshot.value === 'active'"
        @click="send({ type: 'TOGGLE' })"
      >
        toggle
      </button>
    </div>
  </div>
</template>
