<script lang="ts" setup>
const { snapshot, send } = usePokemon();

useHead({ title: "Pokemon" });
</script>

<template>
  <div class="h-screen flex flex-col gap-4 p-8 bg-dark">
    <div class="flex justify-between items-center gap-4">
      <h1 class="text-right text-xl font-bold text-gray-400">
        <span class="text-lg font-bold text-purple-400">
          {{ snapshot.context.catalog?.count ?? 0 }}
        </span>
        Pokemon
      </h1>
      <!--      <button -->
      <!--        :class="snapshot.value === 'ready' -->
      <!--          ? 'focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-1 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900' -->
      <!--          : 'text-white bg-gray-400 dark:bg-gray-500 cursor-not-allowed font-medium rounded-lg text-sm px-4 py-1'" -->
      <!--        :disabled="snapshot.value !== 'ready'" -->
      <!--      > -->
      <!--        load -->
      <!--      </button> -->
    </div>
    <div class="rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th class="px-6 py-3" scope="col">
              Name
            </th>
            <th class="px-6 py-3" scope="col">
              Species
            </th>
            <th class="px-6 py-3" scope="col">
              Weight
            </th>
            <th class="px-6 py-3" scope="col">
              Height
            </th>
            <th class="px-6 py-3" scope="col">
              Base XP
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="!snapshot.context.table.length">
            <td class="text-center text-md font-normal italic py-5" colspan="100%">
              make a selection to view data
            </td>
          </tr>
          <tr
            v-for="p in snapshot.context.table"
            :key="p.id"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" scope="row">
              {{ p.name || "∅" }}
            </th>
            <td class="px-6 py-4">
              {{ p.species?.name || "∅" }}
            </td>
            <td class="px-6 py-4">
              {{ p.weight || "∅" }}
            </td>
            <td class="px-6 py-4">
              {{ p.height || "∅" }}
            </td>
            <td class="px-6 py-4">
              {{ p.base_experience || "∅" }}
            </td>
          </tr>
        </tbody>
      </table>
      <div
        v-if="snapshot.context.table.length"
        class="flex justify-around py-2"
      >
        <div class="flex justify-center grow">
          <button
            class="text-white bg-purple-700 font-medium rounded-lg text-sm px-4 py-1 hover:bg-purple-800"
            @click="send({ type: 'page.prev', page: snapshot.context.page - 1 })"
          >
            prev
          </button>
        </div>
        <div class="flex justify-center grow">
          <button
            class="text-white bg-purple-700 font-medium rounded-lg text-sm px-4 py-1 hover:bg-purple-800"
            @click="send({ type: 'page.next', page: snapshot.context.page + 1 })"
          >
            next
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
